<div class="bg-white py-24 sm:py-32 dark:bg-gray-900">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
    <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400"><%= data.projects.section_label %></p>
    <h2 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white"><%= data.projects.section_title %></h2>
    <p class="mt-6 text-xl/8"><%= data.projects.section_description %></p>

    <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 dark:border-gray-700">
      <% data.projects.list.each do |project| %>
        <%= render "project", data: project %>
      <% end %>
    </div>
  </div>
</div>
