<div id="services" class="bg-white px-6 pt-12 pb-16 sm:pt-16 lg:px-8 dark:bg-gray-900">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
    <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400"><%= data.how_i_help.section_label %></p>
    <h2 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white"><%= data.how_i_help.section_title %></h2>
    <p class="mt-6 text-xl/8"><%= data.how_i_help.body %></p>
    <div class="mt-10 max-w-2xl text-gray-600 dark:text-gray-400">
      <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600 dark:text-gray-400">
        <% data.how_i_help.checklist.each do |item| %>
          <li class="flex gap-x-3">
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="mt-1 size-5 flex-none text-indigo-600 dark:text-indigo-400">
              <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
            <span><%= item %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="border-t border-gray-200 mt-10 sm:mt-16 dark:border-gray-700"></div>
  </div>
</div>
